/** Background colors */
$customPrimaryColor: #1F1B24;
$customSecondaryColor: #232029;
$customTetraryColor: #282534;

/** Font colors */
$primaryInactiveText: grey;
$secondaryInactiveText: #b1b1b1;
$activeText: white;
